= "WTF SOMETHING WEIRD HAPPENED THAT DIDN'T WORK" if flash.alert == "wtf"

UPLOAD YOUR SWEET PIC, BRO

= form_for @photo, :url => photos_path, html: { multipart: true } do |form|
  = form.file_field :image_file
  = form.submit

NICE UPLOAD, HOMIE
